.card {
  width: 327px;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 18px 31px -6px rgba(56, 41, 224, 0.2);
  box-shadow: 0px 18px 31px -6px rgba(56, 41, 224, 0.2);

  &__image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url("../../images/illustration-hero.svg");
    height: 160px;
    background-position: center;
    background-size: cover;
  }

  &__title {
    padding-top: 20px;
    text-align: center;

    h1 {
      font-size: 22px;
      font-weight: $black;
      color: $darkblue;
    }

    p {
      line-height: 1.6;
      max-width: 270px;
      color: $desaturateblue;
      margin: 0 auto;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;

    .plan {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: $verypaleblue;
      margin: 24px;
      padding: 16px;
      font-size: 14px;

      .icon {
        background-image: url("../../images/icon-music.svg");
        height: 50px;
        width: 50px;
        background-position: center;
        background-size: cover;
      }

      .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 28px;
        color: $darkblue;

        &:nth-child(1) {
          font-weight: $black;
        }
      }

      .change {
        text-decoration: underline;
        color: $brightblue;
        font-weight: $bold;
        font-size: 12px;
        cursor: pointer;
        -webkit-transition: color 200ms linear;
        -ms-transition: color 200ms linear;
        transition: color 200ms linear;

        &:hover {
          text-decoration: none;
          color: $activeblue;
        }
      }
    }
  }
}

.primary {
  background-color: $brightblue;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: $bold;
  margin: 0 24px;
  padding: 16px;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 18px 31px -6px rgba(56, 41, 224, 0.3);
  box-shadow: 0px 18px 31px -6px rgba(56, 41, 224, 0.3);
  transition: all 1ms ease-in;
  cursor: pointer;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;

  &:hover {
    background-color: $activeblue;
  }
}

.secondary {
  background-color: transparent;
  display: block;
  text-align: center;
  color: $paleblue;
  font-size: 15px;
  font-weight: $bold;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: color 200ms linear;
  -ms-transition: color 200ms linear;
  transition: color 200ms linear;

  &:hover {
    color: $darkblue;
  }
}

@media (min-width: 460px) {
  .card {
    width: 450px;

    &__image {
      height: 220px;
    }

    &__title {
      h1 {
        font-size: 28px;
      }
  
      p {
        max-width: 320px;
      }
    }
    &__content {
      padding-bottom: 48px;
  
      .plan {
        margin: 28px 48px;
        padding: 24px;
        font-size: 16px;
  
        .description {
          padding-right: 68px;
        }
  
        .change {
          font-size: 14px;
        }
      }
    }
  }

  .primary {
    font-size: 15px;
    margin: 0 48px;
    padding: 16px;
  }

  .secondary {
    margin-top: 30px;
  }
}
