@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

$mobile : 375px;
$desktop : 1440px;

$paleblue: hsl(225, 100%, 94%);
$brightblue: hsl(245, 75%, 52%);
$verypaleblue: hsl(225, 100%, 98%);
$desaturateblue: hsl(224, 23%, 55%);
$darkblue: hsl(223, 47%, 23%);



$font: 'Red Hat Display', sans-serif;
$font-size: 16px;

$regular: 500;
$bold: 700;
$black: 900;
